.container {
  padding: 15px 20px 20px 20px;
  background: transparent;
  position: absolute;
  width: 100%;
}

.title {
  font-size: 13px;
  font-weight: lighter;
  color: #cacaca;
}

.controlPanel {
  margin-top: 5px;
}

.floating {
  position: absolute;
  top: -14%;
}
