@import "~normalize.css/normalize.css";
@import "~simple-line-icons/css/simple-line-icons.css";
@import "~flexboxgrid/css/flexboxgrid.css";

body {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  position: relative;
  color: white;
  background: #10141d;
  font-family: BlinkMacSystemFont, SansSerif, Helvetica, Helvetica Neue, serif;
  overflow: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  color: white;
  border: none;
}

button:focus {
  outline: none;
}

.large-icons i {
  font-size: 19px;
}

.medium-icons i {
  font-size: 17px;
}
